<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!-- FinanceApprove -->
	<bean id="financeApproveAction" class="com.cn.dsyg.action.FinanceApproveAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="warehouserptService">
			<ref bean="warehouserptService" />
		</property>
	</bean>

	<!-- WarehouseRefund -->
	<bean id="warehouseRefundAction" class="com.cn.dsyg.action.WarehouseRefundAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="warehouseService">
			<ref bean="warehouseService" />
		</property>
	</bean>

	<!-- warehousecheck -->
	<bean id="warehouseCheckAction" class="com.cn.dsyg.action.WarehouseCheckAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="warehouseService">
			<ref bean="warehouseService" />
		</property>
	</bean>

	<!-- warehousedetail -->
	<bean id="warehouseDetailAction" class="com.cn.dsyg.action.WarehouseDetailAction" scope="session">
		<property name="dict01Service">
			<ref bean="dict01Service" />
		</property>
		<property name="warehouseService">
			<ref bean="warehouseService" />
		</property>
		<property name="salesItemService">
			<ref bean="salesItemService"/>
		</property>
		<property name="purchaseItemService">
			<ref bean="purchaseItemService"/>
		</property>
	</bean>

	<!-- user -->
	<bean id="userAction" class="com.cn.dsyg.action.UserAction" scope="session">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="roleService">
			<ref bean="roleService" />
		</property>
	</bean>

	<!-- 快递 -->
	<bean id="deliveryAction" class="com.cn.dsyg.action.DeliveryAction" scope="session">
		<property name="deliveryService">
			<ref bean="deliveryService" />
		</property>
	</bean>

	<!-- 客户 -->
	<bean id="customerAction" class="com.cn.dsyg.action.CustomerAction" scope="session">
		<property name="customerService">
			<ref bean="customerService" />
		</property>
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>

	<!-- 固定资产信息 -->
	<bean id="assetsAction" class="com.cn.dsyg.action.AssetsAction" scope="session">
		<property name="assetsService">
			<ref bean="assetsService" />
		</property>
	</bean>

	<!-- 员工档案信息 -->
	<bean id="personalAction" class="com.cn.dsyg.action.PersonalAction" scope="session">
		<property name="personalService">
			<ref bean="personalService" />
		</property>
	</bean>

	<!-- 文件物品信息 -->
	<bean id="documentAction" class="com.cn.dsyg.action.DocumentAction" scope="session">
		<property name="documentService">
			<ref bean="documentService" />
		</property>
	</bean>

	<!-- ProductOkAction -->
	<bean id="productOkAction" class="com.cn.dsyg.action.ProductOkAction" scope="session">
		<property name="warehouseService">
			<ref bean="warehouseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>

	<!-- FinanceSalesAction -->
	<bean id="financeSalesAction" class="com.cn.dsyg.action.FinanceSalesAction" scope="session">
		<property name="salesService">
			<ref bean="salesService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>

	<!-- FinancePurchaseAction -->
	<bean id="financePurchaseAction" class="com.cn.dsyg.action.FinancePurchaseAction" scope="session">
		<property name="purchaseService">
			<ref bean="purchaseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>

	<!-- finance -->
	<bean id="financeAction" class="com.cn.dsyg.action.FinanceAction" scope="session">
		<property name="financeService">
			<ref bean="financeService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>

	<!-- Sales -->
	<bean id="salesAction" class="com.cn.dsyg.action.SalesAction" scope="session">
		<property name="salesService">
			<ref bean="salesService"/>
		</property>
		<property name="salesItemService">
			<ref bean="salesItemService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>

	<!-- warehouse -->
	<bean id="warehouseAction" class="com.cn.dsyg.action.WarehouseAction" scope="session">
		<property name="warehouseService">
			<ref bean="warehouseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- warehouseInOk -->
	<bean id="warehouseInOkAction" class="com.cn.dsyg.action.WarehouseInOkAction" scope="session">
		<property name="warehouseService">
			<ref bean="warehouseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- warehouseOutOk -->
	<bean id="warehouseOutOkAction" class="com.cn.dsyg.action.WarehouseOutOkAction" scope="session">
		<property name="warehouseService">
			<ref bean="warehouseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- warehouserpt -->
	<bean id="warehouserptAction" class="com.cn.dsyg.action.WarehouserptAction" scope="session">
		<property name="warehouserptService">
			<ref bean="warehouserptService"/>
		</property>
		<property name="purchaseService">
			<ref bean="purchaseService"/>
		</property>
		<property name="purchaseItemService">
			<ref bean="purchaseItemService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- Product -->
	<bean id="productAction" class="com.cn.dsyg.action.ProductAction" scope="session">
		<property name="productService">
			<ref bean="productService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- Purchase -->
	<bean id="purchaseAction" class="com.cn.dsyg.action.PurchaseAction" scope="session">
		<property name="purchaseService">
			<ref bean="purchaseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
		<property name="purchaseItemService">
			<ref bean="purchaseItemService"/>
		</property>
	</bean>
	
	<!-- supplier -->
	<bean id="supplierAction" class="com.cn.dsyg.action.SupplierAction" scope="session">
		<property name="supplierService">
			<ref bean="supplierService"/>
		</property>
	</bean>
	
	<!-- 用户 -->
	<bean id="userLoginAction" class="com.cn.dsyg.action.UserLoginAction" scope="session">
		<property name="resourceService">
			<ref bean="resourceService"/>
		</property>
		<property name="userService">
			<ref bean="userService"/>
		</property>
		<property name="roleService">
			<ref bean="roleService"/>
		</property>
	</bean>
	
	<!-- chart -->
	<bean id="chartAction" class="com.cn.dsyg.action.ChartAction" scope="session">
		<property name="chartService">
			<ref bean="chartService"/>
		</property>
		<property name="userService">
			<ref bean="userService"/>
		</property>
		<property name="customerService">
			<ref bean="customerService"/>
		</property>
		<property name="supplierService">
			<ref bean="supplierService"/>
		</property>
		<property name="deliveryService">
			<ref bean="deliveryService"/>
		</property>
		
	</bean>

	<!-- chart -->
	<bean id="calendarAction" class="com.cn.dsyg.action.CalendarAction" scope="session">
	</bean>
	
	<!-- frame -->
	<bean id="frameAction" class="com.cn.dsyg.action.FrameAction" scope="session">
	</bean>
	
	<!-- 验证码 -->
	<bean id="randomActionBean" class="com.cn.dsyg.action.ValidateCodeAction" />
	
	<!-- 登录拦截器 -->
	<bean id="loginInterceptorBean" class="com.cn.dsyg.interceptor.LoginInterceptor"/>
	
	<!-- frame拦截器 -->
	<bean id="frameInterceptorBean" class="com.cn.dsyg.interceptor.FrameInterceptor"/>

</beans>