<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!-- warehouseinOk -->
	<bean id="warehouseInOkAction" class="com.cn.dsyg.action.WarehouseInOkAction" scope="session">
		<property name="warehouseService">
			<ref bean="warehouseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- warehouseOk -->
	<bean id="warehouseOkAction" class="com.cn.dsyg.action.WarehouseOkAction" scope="session">
		<property name="warehouseService">
			<ref bean="warehouseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- warehouserpt -->
	<bean id="warehouserptAction" class="com.cn.dsyg.action.WarehouserptAction" scope="session">
		<property name="warehouserptService">
			<ref bean="warehouserptService"/>
		</property>
		<property name="purchaseService">
			<ref bean="purchaseService"/>
		</property>
		<property name="purchaseItemService">
			<ref bean="purchaseItemService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- Product -->
	<bean id="productAction" class="com.cn.dsyg.action.ProductAction" scope="session">
		<property name="productService">
			<ref bean="productService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
	</bean>
	
	<!-- Purchase -->
	<bean id="purchaseAction" class="com.cn.dsyg.action.PurchaseAction" scope="session">
		<property name="purchaseService">
			<ref bean="purchaseService"/>
		</property>
		<property name="dict01Service">
			<ref bean="dict01Service"/>
		</property>
		<property name="purchaseItemService">
			<ref bean="purchaseItemService"/>
		</property>
	</bean>
	
	<!-- supplier -->
	<bean id="supplierAction" class="com.cn.dsyg.action.SupplierAction" scope="session">
		<property name="supplierService">
			<ref bean="supplierService"/>
		</property>
	</bean>
	
	<!-- 用户 -->
	<bean id="userLoginAction" class="com.cn.dsyg.action.UserLoginAction" scope="session">
		<property name="resourceService">
			<ref bean="resourceService"/>
		</property>
		<property name="userService">
			<ref bean="userService"/>
		</property>
		<property name="roleService">
			<ref bean="roleService"/>
		</property>
	</bean>
	
	<!-- frame -->
	<bean id="frameAction" class="com.cn.dsyg.action.FrameAction" scope="session">
	</bean>
	
	<!-- 验证码 -->
	<bean id="randomActionBean" class="com.cn.dsyg.action.ValidateCodeAction" />
	
	<!-- 登录拦截器 -->
	<bean id="loginInterceptorBean" class="com.cn.dsyg.interceptor.LoginInterceptor"/>

</beans>