/* CSS Document */
#picker { width: 50px; height: 100px }
#slide { width: 20px; height: 100px }

body{ margin:0; padding:0; font-size:13px; font-family:"宋体"; background:url(../images/bg.png);}
ul,li{ list-style:none;}
a{ text-decoration:none;}
#top{ height:90px; background:#52708a; padding-top:25px; position:relative;}
.user2{ float:right; margin-top:10px; background:#fff; margin-right:150px;}
.icons{ position:absolute; right:10px; top:70px; margin-right:150px;}
.icons a{ float:left; height:20px; line-height:20px; display:block; padding-left:25px; color:#666; cursor:pointer; margin-left:25px;}
.home{ background:url(../images/home.png) no-repeat;}
.quit{ background:url(../images/quit.png) no-repeat;}
.return{ background:url(../images/return.png) no-repeat;}
.icons a:hover{  color:#0088cc;}

/**yzk_bottom2**/
.yzk_bottom2{ width:1000px; margin:300px auto; clear:both; padding-bottom:50px; margin-top:200px; }
.yzk_bottom2 p{ font-weight:bold; font-size:12px; color:#00102a; letter-spacing:2px; color:#959595;}
.yzk_bottom2 .contactus{ margin-top:10px; font-size:12px}
.yzk_bottom2 .contactus ul{ list-style:none;}
.yzk_bottom2 .contactus li{ float:left; color:#959595;}
.yzk_bottom2 .contactus li a{ color:#959595; text-decoration:none;}
.yzk_bottom2 .contactus li a:hover{ text-decoration:underline;}
.yzk_bottom2 .contactus li span img{ padding-left:10px; padding-right:10px; vertical-align:middle;}
/**yzk_bottom2 end**/
