<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	
	<!-- 用户 -->
	<bean id="userLoginAction" class="com.cn.dsyg.action.UserLoginAction" scope="session">
		<property name="resourceService">
			<ref bean="resourceService"/>
		</property>
		<property name="userService">
			<ref bean="userService"/>
		</property>
		<property name="roleService">
			<ref bean="roleService"/>
		</property>
	</bean>
	
	<!-- frame -->
	<bean id="frameAction" class="com.cn.dsyg.action.FrameAction" scope="session">
	</bean>
	
	<!-- chart -->
	<bean id="chartAction" class="com.cn.dsyg.action.ChartAction" scope="session">
	</bean>

	<!-- 验证码 -->
	<bean id="randomActionBean" class="com.cn.dsyg.action.ValidateCodeAction" />
	
	<!-- 登录拦截器 -->
	<bean id="loginInterceptorBean" class="com.cn.dsyg.interceptor.LoginInterceptor"/>

</beans>